.board{
    display:flex;
    column-gap: 10px;
    flex-direction:row;
}
.card{
    height: 60px;
    width: 200px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
    display:flex;
    align-items: center;
    column-gap: 10px;
    
}

.image{
    width: 50px;
    height: 50px;
    object-fit:cover;
    flex-wrap:nowrap;
    margin-left: 5px;
    border-radius:100px;
}

.name {
    font-size: small;
    font-weight: bold;
    margin-bottom: 2px;
}

.title {
    font-size: x-small;
    margin-bottom: 2px;
}

.location {
    font-size: x-small;
    font-style: italic;
}